@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&display=swap');

.aboutWrapper {
    height: 100vh;
    align-items: center;
    display: block;
    margin-top: 50px;
    margin-bottom: 50vh;
    /* overflow-x: hidden; */
}

